{
  "parser": "@typescript-eslint/parser",
  "extends": ["airbnb-typescript"],
  "rules": {
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "linebreak-style": "off",
    "indent": "off",
    "@typescript-eslint/indent": ["error", 2],
    "comma-dangle": ["error", "never"],
    "@typescript-eslint/semi": ["error", "never"],
    "react/jsx-props-no-spreading": "off",
    "arrow-parens": ["error", "as-needed"],
    "consistent-return": "off",
    "react/jsx-filename-extension": "off"
  }
}
